// SPDX-License-Identifier: GPL-2.0-only
// Definitions for ISL79987 video decoder module on I2C
/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	cvbs-in {
		compatible = "composite-video-connector";
		label = "CVBS IN";
		ports {
			port@0{
				camera_0: endpoint {
					remote-endpoint = <&isl79987_1>;
				};
			};
			port@1{
				camera_1: endpoint {
					remote-endpoint = <&isl79987_2>;
				};
			};
			port@2{
				camera_2: endpoint {
					remote-endpoint = <&isl79987_3>;
				};
			};
			port@3{
				camera_3: endpoint {
					remote-endpoint = <&isl79987_4>;
				};
			};
		};
	};

	i2c_frag: fragment@0 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			isl79987: isl79987@44 {
				compatible = "isil,isl79987";
				reg = <0x44>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						isl79987_0: endpoint {
							remote-endpoint = <&csi1_ep>;
							clock-lanes = <0>;
							data-lanes = <1 2>;
						};
					};
					port@1 {
						reg = <1>;
						isl79987_1: endpoint {
							remote-endpoint = <&camera_0>;
						};
					};
					port@2 {
						reg = <2>;
						isl79987_2: endpoint {
							remote-endpoint = <&camera_1>;
						};
					};
					port@3 {
						reg = <3>;
						isl79987_3: endpoint {
							remote-endpoint = <&camera_2>;
						};
					};
					port@4 {
						reg = <4>;
						isl79987_4: endpoint {
							remote-endpoint = <&camera_3>;
						};
					};
				};
			};
		};
	};

	csi_frag: fragment@1 {
		target = <&csi1>;
		csi: __overlay__ {
			status = "okay";
			brcm,media-controller;

			port {
				csi1_ep: endpoint {
					remote-endpoint = <&isl79987_0>;
					data-lanes = <1 2>;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};
    
	__overrides__ {
		addr =			<&isl79987>,"reg:0";
		media-controller = <&csi>,"brcm,media-controller?";
	};
};
